<p style="color: green"><%= notice %></p>
<div class="card">
  <h1 class="card-header">User</h1>
  <div class="card-body">
    <%= render @user %>
    <div class="mt-3">
      <%= link_to "Back to users", users_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
