<div id="<%= dom_id department %>">
  <p>
    <strong>Name:</strong>
    <%= department.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= department.description %>
  </p>

  <p>
    <strong>Avatar:</strong>
    <%= link_to department.avatar.filename, department.avatar if department.avatar.attached? %>
  </p>

</div>
